.full-cart-container {
  margin: 50px;
}

.cart-items-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px black solid;
  width: 100%;
}

.single-cart-item-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.cart-product-header {
  margin-left: 20px;
}

.cart-price-header {
  margin-left: 75px;
}

.cart-total-header {
  margin-right: 20px;
}
