.navbar {
  display: flex;
  justify-content: space-between;
}

.nav-links {
  margin-right: auto;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo-text-one,
.logo-text-two {
  text-align: center;
}


.nav-actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-container {
  display: flex;
  align-items: center;
  margin-right: 10px;
  flex-direction: row;
}

.user-menu-button,
.cart-box {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
