.single-product-div {
  margin: 70px;
  display: flex;
  justify-content: center;
}

.single-product-container {
  display: flex;
  flex-direction: column;
  max-width: 950px;
}

.single-product-img-info {
  display: flex;
  flex-direction: row;

}

/* Styles for product image */
.single-product-image-container {
  max-width: 600px;
  margin: 0 auto;
}

.single-product-image {
  display: block;
  max-width: 100%;
  min-width: 350px;
  height: auto;
  margin: 0 auto;
}

/* Styles for product details */
.single-product-info-container {
  max-width: 300px;
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;

}

.single-product-name {
  font-size: 36px;
  font-weight: bold;
  margin-top: 20px;
}

.single-product-price {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
}

.single-product-description {
  font-size: 16px;
  line-height: 1.5;
  margin-top: 20px;
}

/* Styles for add to cart button */
.add-to-cart-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 25px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.add-to-cart-button:hover {
  background-color: #555;
}

/* Styles for product reviews */
.reviews-container {
  max-width: 950px;
  min-width: 350px;
  margin-top: 20px;
}

.single-review {
  border: solid 1px #332013;
  border-radius: 5px;

}

.review-rating {
  margin-top: 5px;
  margin-left: 5px;
}

.user-rating-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.review-username {
  font-size: 16px;
  font-weight: bold;
  margin-top: 6px;
}

.review-text {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 10px;
}
