.products-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px;
}

.product-tile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  flex-basis: 20%;
  text-decoration: none;
  width: 270px;
  height: 400px;
  margin: 10px;
}

.product-name-container {
  display: flex;
  justify-content: center;
}

.product-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 270px;
}

.product-img {
  max-width: 100%;
  height: 250px;
}

.product-details-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 2px;
  height: 80px;
  width: 270px;
}
