.profile-menu-container {
  display: flex;
  justify-content: center;
}

.user-profile-menu {
  display: flex;
  justify-content: center;
  background-color: #fff5ed;
  border: 1px solid #332013;
  border-radius: 4px;
  padding: 10px;
  height: 50%;
  width: 90%;
  margin-top: 100px;
  min-width: 520px;
}

.user-profile-menu ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.user-profile-menu li {
  display: flex;
  justify-content: space-around;
  height: 100%;
}

.user-profile-menu a {
  text-decoration: none;
  color: #333;
}

.user-profile-menu a:hover {
  background-color: #ddd;
}

.user-products-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px;
}

.user-product-tile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  flex-basis: 20%;
  text-decoration: none;
  min-width: 230px;
  width: 270px;
  height: 375px;
  margin: 15px;
  background-color: #f7ede6;
  border-radius: 5px;
  border: solid 1px #332013;
}

.user-product-name-container {
  display: flex;
  justify-content: center;
  font-weight: bold;
  color: black;
}


.user-product-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.user-product-img {
  max-width: 100%;
  height: 250px;
}

.user-product-details-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 2px;
  height: 25%;
  width: 100%;
  color: black;
}

.user-product-rating-price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 30px;
}

.edit-delete-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 25px;
  margin-top: 5px;
}

.edit-product-button,
.delete-button {
  list-style-type: none;
  height: 25px;

}
